Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-lint, run-build-mac, run-build-linux, run-docs-only

.circleci/config.yml:

version: 2.1

# required for dynamic configuration feature
setup: true
# setup: << pipeline.parameters.run-setup >>

orbs:
  path-filtering: circleci/path-filtering@0.0.3

# initial setup workflow
workflows:
  setup:
    # when: << pipeline.parameters.run-setup >>
    jobs:
      - path-filtering/filter:
          # Compare files on all branches, using the webhook payload from Github
          base-revision: << pipeline.git.branch >>
          # config-path: .circleci/config.yml
          # Params for mapping; `path-to-test parameter-to-set value-for-parameter` for each row
          mapping: |
            .* run-lint true
            ^((?!docs/).)*$ run-build-mac true
            ^((?!docs/).)*$ run-build-linux true
            docs/.* run-docs-only true
          config-path: .circleci/build_config.yml

linux: Add support for Wayland window decorations
  filenames.gni
  shell/browser/native_window.cc
  shell/browser/native_window.h
  shell/browser/native_window_views.cc
  shell/browser/ui/electron_desktop_window_tree_host_linux.cc
  shell/browser/ui/electron_desktop_window_tree_host_linux.h
  shell/browser/ui/views/client_frame_view_linux.cc
  shell/browser/ui/views/client_frame_view_linux.h
  shell/browser/ui/views/frameless_view.cc
  shell/browser/ui/views/frameless_view.h
Due: run-lint, run-build-mac, run-build-linux

chore: cherry-pick 855df1837e from chromium
  patches/chromium/.patches
  patches/chromium/sandbox_fix_sandbox_inheritance_m96_merge.patch
Due: run-lint, run-build-mac, run-build-linux

renamed menu roles and updated tests
  docs/api/menu-item.md
  lib/browser/api/menu-item-roles.ts
  shell/browser/ui/cocoa/electron_menu_controller.mm
  spec-main/api-menu-item-spec.ts
Due: run-lint, run-build-mac, run-build-linux, run-docs-only

updated docs
  docs/api/menu-item.md
Due: run-lint, run-docs-only

fix: window.open not overriding parent's webPreferences
  shell/renderer/electron_render_frame_observer.cc
  shell/renderer/electron_render_frame_observer.h
  spec-main/chromium-spec.ts
  spec-main/fixtures/crash-cases/setimmediate-window-open-crash/index.html
Due: run-lint, run-build-mac, run-build-linux

fix: feature string is insecureParsedWebPreferences
  lib/browser/api/web-contents.ts
  lib/browser/guest-window-manager.ts
Due: run-lint, run-build-mac, run-build-linux

Update window_buttons_proxy.mm
  shell/browser/ui/cocoa/window_buttons_proxy.mm
Due: run-lint, run-build-mac, run-build-linux

Bump v18.0.0-nightly.20211129
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-lint, run-build-mac, run-build-linux

fix: win7 crash when playing media
  patches/chromium/fix_media_key_usage_with_globalshortcuts.patch
Due: run-lint, run-build-mac, run-build-linux

build: update config from chromium roll
  .circleci/build_config.yml
Due: run-lint, run-build-mac, run-build-linux

fix: gtk_native_dialog_run() calls show() internally
  shell/browser/ui/file_dialog_gtk.cc
Due: run-lint, run-build-mac, run-build-linux

Add response.rawHeaders to docs for IncomingMessage
  docs/api/incoming-message.md
Due: run-lint, run-docs-only

Remove trailing spaces
  docs/api/incoming-message.md
Due: run-lint, run-docs-only

Implement raw headers, add tests
  lib/browser/api/net.ts
  shell/browser/api/electron_api_url_loader.cc
  spec-main/api-net-spec.ts
Due: run-lint, run-build-mac, run-build-linux

Fix lint issues
  spec-main/api-net-spec.ts
Due: run-lint, run-build-mac, run-build-linux

Add example from NodeJS docs
  docs/api/incoming-message.md
Due: run-lint, run-docs-only

Fix lint issue in doc example
  docs/api/incoming-message.md
Due: run-lint, run-docs-only

fix: avoid double call in OnRefreshComplete on aura platforms
  patches/chromium/desktop_media_list.patch
Due: run-lint, run-build-mac, run-build-linux

build: add CI path-filtering for docs-only changes (#31741)
  .circleci/build_config.yml
  .circleci/config.yml
  script/release/ci-release-build.js
Due: run-lint, run-build-mac, run-build-linux

build: don't use python3 on sync-step
  .circleci/build_config.yml
Due: run-lint, run-build-mac, run-build-linux

reset
  patches/chromium/fix_media_key_usage_with_globalshortcuts.patch
Due: run-lint, run-build-mac, run-build-linux

chore: update patches
  patches/chromium/fix_media_key_usage_with_globalshortcuts.patch
Due: run-lint, run-build-mac, run-build-linux

Create Sjenica1
  Sjenica1
Due: run-lint, run-build-mac, run-build-linux

Bump v18.0.0-nightly.20211130
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-lint, run-build-mac, run-build-linux

build: account for path-filtering workflow in release-build script
  script/release/ci-release-build.js
Due: run-lint, run-build-mac, run-build-linux

build: update syntax for workflow id
  script/release/ci-release-build.js
Due: run-lint, run-build-mac, run-build-linux

Revert "Bump v18.0.0-nightly.20211130"
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-lint, run-build-mac, run-build-linux

build: account for path-filtering workflow in release-build script (#32063)
  script/release/ci-release-build.js
Due: run-lint, run-build-mac, run-build-linux

build: add logic for build and publish
  script/release/ci-release-build.js
Due: run-lint, run-build-mac, run-build-linux
